@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.container {
  display: grid;
  place-items: center;
  background: rgb(228, 228, 228);
  height: 100vh;
}

.header {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.625rem 1.25rem;
}

.navlist {
  display: flex;
  background: red;
  gap: 0.525rem;
  padding: 20px 20px 10px 20px;
  border-radius: 50px;
  justify-content: space-evenly;
  align-items: center;
  max-width: 400px;
  position: relative;
}

.navlist li {
  list-style: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  color: white;
  user-select: none;
}

.navlist li span {
  position: absolute;
  top: 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}

.navlist li:hover span {
  top: -25px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  color: red;
}

.navlist li a {
  text-decoration: none;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  user-select: none;
}

.navlist li:hover a {
  opacity: 1;
}
